.item{
  .title{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .input{
      width: 100%;
    }
  }
  .body{
    display: block;
    padding: 10px;
    position: absolute;
    bottom: 30px;
    width: calc(100% - 20px);
    display: flex;
    padding: 10px;
    height: calc(100% - 100px)!important;    
    flex-direction: column;
    align-items: center;
    .input{
      width: 100%!important;
      height: 100%!important;
      margin: 0;
      font-family: "Roboto","Helvetica","Arial",sans-serif;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5;
      letter-spacing: 0.00938em;
    }
  }
  .closebtn{
    z-index: 2;
    position: absolute;
    right: 10;
    cursor: pointer;
  }

  .editbtnContainer{
    bottom: 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .editbtn{
      width: 100%;
    }
  }
}
